<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/navbar.css">
    {{#if isDecks}}
    <link rel="stylesheet" href="/css/decks.css">
    {{/if}}
    {{#if isLibrary}}
    <link rel="stylesheet" href="/css/library.css">
    {{/if}}
    {{#if isAccount}}
    <link rel="stylesheet" href="/css/account.css">
    {{/if}}
    {{#if isIba}}
    <link rel="stylesheet" href="/css/iba.css">
    {{/if}}
    <title>{{title}}</title>
</head>
