<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">
            {{!-- <img src="#" alt="Logo" style="height: 40px; vertical-align: middle;"> --}}
            RusAnki
        </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Создать колоду</a></li>
        <li><a href="#">Библиотека</a></li>
        <li><a href="#">Аккаунт</a></li>
      </ul>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

        {{#if isAboutUs}}
            <li class= "active"><a href="/aboutUs">О нас</a></li>
        {{else}}
            <li><a href="/aboutUs">О нас</a></li>
        {{/if}}


        {{#if isSupport}}
            <li class="active"><a href="/support">Поддержка</a></li>  
        {{else}}
            <li><a href="/support">Поддержка</a></li>  
        {{/if}}


        {{#if isSettings}}
            <li class= "active"><a href="/settings">Настройки</a></li>
        {{else}}
            <li><a href="/settings">Настройки</a></li>
        {{/if}}

      </ul>
    </div>
</nav>

