{{!-- Страница Аккаунта / Входа / Регистрации --}}

<div class="account-header">
    <i class="large material-icons icon-spacing">account_circle</i>
</div>
<div class="main-content">
    {{#if isLoggedIn}}
        {{> userProfile }}
    {{else}}
        {{> registrationForm }}
        {{> loginForm }}
    {{/if}}
</div>
