{{!-- <div class="container">
    <div class="deck-creator">
        <h2>Создать новую колоду</h2>
        <div id="cardContainer"></div>
        <button id="addCardButton">Добавить карточку</button>
        <button id="saveDeckButton">Сохранить колоду</button>
    </div>
</div>
<script src="/cardAnimation.js"></script>

 --}}
