{{!-- Панель создания колод --}}

<div class="container">
    <h1>Мои Колоды</h1>
    <button id="createDeckButton" class="btn waves-effect waves-light">Создать Колоду</button>

    <div id="deckCreationContainer" class="hidden">
        <div class="input-field col s12">
            <input id="deckName" type="text" class="validate">
            <label for="deckName">Название Колоды</label>
        </div>
        <div id="flashcardContainer"></div>
        <button id="addCardButton" class="btn waves-effect waves-light">Добавить Карточку</button>
        <button id="finishDeckButton" class="btn waves-effect waves-light">Завершить Колоду</button>
    </div>
</div>
<script src="/js/deckCreation.js"></script>

{{!-- Страница библиотеки --}}

<i class="large material-icons icon-spacing">book</i>
<h1>Библиотека</h1>
<div class="container">
    <div class="flashcard-container">
        <div class="flashcard" id="flashcard">
            <div class="flashcard-inner">
                <div class="flashcard-front">
                    <h2>Question</h2>
                    <p>What is the capital of France?</p>
                </div>
                <div class="flashcard-back">
                    <h2>Answer</h2>
                    <p>Paris</p>
                </div>
            </div>
        </div>
        <button id="flipButton">Flip Card</button>
    </div>
</div>
<script src="/cardAnimation.js"></script>
</body>

