{{!-- Панель создания колод --}}

<div class="container">
    <h1>Мои Колоды</h1>
    <button id="createDeckButton" class="btn waves-effect waves-light">Создать Колоду</button>

    <div id="deckCreationContainer" class="hidden">
        <div class="input-field col s12">
            <input id="deckName" type="text" class="validate">
            <label for="deckName">Название Колоды</label>
        </div>
        <div id="flashcardContainer"></div>
        <button id="addCardButton" class="btn waves-effect waves-light">Добавить Карточку</button>
        <button id="finishDeckButton" class="btn waves-effect waves-light">Завершить Колоду</button>
    </div>
</div>
<script src="/js/deckCreation.js"></script>