<div class="welcome-message">
    <h1>Добро пожаловать на RusAnki!</h1>
    <p>Ваш лучший помощник в изучении новых слов и материалов.</p>
</div>

<div class="main-functions">
    <h2>Основные функции</h2>
    <ul>
        <li>Создавайте свои колоды</li>
        <li>Изучайте карточки в удобном формате</li>
        <li>Отслеживайте свой прогресс</li>
    </ul>
</div>

<div class="blog-news">
    <h2>Блог и новости</h2>
    <p><a href="#">Советы по изучению новых слов</a></p>
    <p><a href="#">Новые функции на сайте</a></p>
</div>

<div class="social-proof">
    <h2>Следите за нами в социальных сетях</h2>
    <a href="https://www.youtube.com/watch?v=PSu52RNWacY&ab_channel=RENASOLUTIONS">Telegram</a>
</div>

<div class="quick-access">
    <a href="/account" class="btn">Регистрация</a>
    <a href="/account" class="btn">Вход</a>
</div>