<h1><center>А потом ты снимаеш одежды я тоже снимаю и ты отрабатываешь 6 лекция</center></h1>
<div>
  <div style="clear: left"></div>
  <div class="left"><img src="/photos/photo_2024-07-02_13-20-48.jpg" width="520" height="520"></div>
    <div class="right"><img src="/photos/photo_2024-07-02_13-20-52.jpg" width="520" height="520"></div>
   <div style="clear: left"></div>
  <h1><center>    </center></h1>
  <div style="clear: left"></div>
   <div class="left"><img src="/photos/love.webp" width="520" height="520"></div>
  <div class="right"><img src="/photos/ib.gif" width="520" height="520"></div>

