{{!-- Страница библиотеки --}}

<i class="large material-icons icon-spacing">book</i>
<h1>Библиотека</h1>
<div class="container">
    <div class="flashcard-container">
        <div class="flashcard" id="flashcard">
            <div class="flashcard-inner">
                <div class="flashcard-front">
                    <h2>Вопрос</h2>
                    <p>What is the capital of France?</p>
                </div>
                <div class="flashcard-back">
                    <h2>Ответ</h2>
                    <p>Paris</p>
                </div>
            </div>
        </div>
        <button id="flipButton">Flip Card</button>
    </div>
</div>
<script src="/cardAnimation.js"></script>
</body>

