{{!-- Страница поддержки --}}

<i class="large material-icons icon-spacing">build</i>
    <div class="contact-form container">
        <h2>Свяжитесь с нами</h2>
        <form>
            <input type="text" placeholder="Ваше имя">
            <input type="email" placeholder="Ваш email">
            <textarea placeholder="Ваше сообщение"></textarea>
            <button type="submit">Отправить</button>
        </form>
    </div>