.input-field label {
    color: #000;
  }
  
  .input-field input[type=text]:focus + label,
  .input-field input[type=email]:focus + label,
  .input-field input[type=password]:focus + label {
    color: #0288D1;
  }
  
  .input-field input[type=text]:focus,
  .input-field input[type=email]:focus,
  .input-field input[type=password]:focus {
    border-bottom: 1px solid #0288D1;
    box-shadow: 0 1px 0 0 #0288D1;
  }
  
  .btn {
    background-color: #0288D1;
  }
  
  .btn:hover {
    background-color: #0277BD;
  }
  
  .account-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  /* Скрыть форму регистрации по умолчанию */
#registrationForm {
  display: none;
}

/* Активные кнопки */
.form-switcher .btn {
  margin: 0 5px;
}

.form-switcher .btn.active {
  background-color: #00796b;
  color: white;
}
