body {
    font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #315fc2; /* голубой цвет текста */
    line-height: 1.6;
}

.container {
    max-width: 3000px;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
    color: #046bc0; /* синий цвет заголовков */
    font-weight: 600;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: #315fc2; /* голубой цвет текста */
}

.welcome-message {
    background-color: #77b5f8; /* голубой цвет фона приветственного сообщения */
    color: white;
    padding: 50px 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.welcome-message h1 {
    font-size: 3em;
    margin: 0 0 10px;
    font-weight: 700;
}

.welcome-message p {
    font-size: 1.5em;
}

.main-functions {
    background-color: #fff; /* белый фон основных функций */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.main-functions ul li {
    font-size: 1.2em;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    color: #315fc2; /* голубой цвет текста */
}

.quick-access .btn {
    background-color: #046bc0; /* синий цвет кнопок быстрого доступа */
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    display: inline-block;
    transition: background-color 0.5s, transform 0.4s;
}

.quick-access .btn:hover {
    background-color: #01579B; /* тёмный синий цвет при наведении */
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-news {
    background-color: #fff; /* белый фон блока блога и новостей */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.blog-news p {
    font-size: 1.2em;
    text-align: center;
    color: #315fc2; /* голубой цвет текста */
}

.blog-news a {
    color: #046bc0; /* синий цвет ссылок */
    text-decoration: none;
    transition: color 0.3s;
}

.blog-news a:hover {
    color: #01579B; /* тёмный синий цвет при наведении */
}

.social-proof {
    background-color: #fff; /* белый фон блока социальных доказательств */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: center;
}

.social-proof a {
    margin: 0 20px;
    font-size: 1.5em;
    color: #046bc0; /* синий цвет текста ссылок */
    text-decoration: none;
    transition: color 0.3s;
}

.social-proof a:hover {
    color: #01579B; /* тёмный синий цвет при наведении */
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #0277BD; /* голубой цвет границы кнопок */
    background-color: #0277BD; /* голубой цвет фона кнопок */
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    line-height: 0.7;
}

.btn:hover {
    background-color: #01579B; /* тёмный синий цвет при наведении */
    border-color: #01579B; /* тёмный синий цвет границы при наведении */
}
